<div *ngIf="employee" class = "center-div">
  <h2>Update Employee</h2>
  <br/>
  
  <label>Employee Id:<br/>
    <input [(ngModel)]="employee.id" placeholder="Enter Employee Id" />
  </label><br/>
  <label>Employee Name:<br/>
    <input [(ngModel)]="employee.name" placeholder="Enter Employee Name" />
  </label><br/>
  <label>Employee Salary:<br/>
    <input [(ngModel)]="employee.salary" placeholder="Enter Employee Salary" />
  </label><br/>
  <label>Reporting Manager:<br/>
    <input [(ngModel)]="employee.reporting_manager_id" placeholder="Enter Employee Name" />
  </label><br/>
  <button class = "button" (click)="goBack()"><span>&larr; Go Back</span></button> |
  <button class = "button" (click)="save()">Save</button>
  <br/>
</div>
