.center-div {
  text-align: center;
}

.table {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.table-row {
  display:flex;
  width:100%;
  padding:10px; 
}

.table-header {
  flex: 1 1 20%;
  text-align:center;  
  font-size: large;
}
.table-data {
  flex: 1 1 20%;
  text-align:center;
  font-size: medium;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
  color: #039be5;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
